<h2>Address <%= @address %> </h2>
<div class="">
  <h3>Assets</h3>
  <ul id="assets" class="nav nav-pills">
    <% @assets.each do |asset| %>
      <li id="<%= asset[:type] %>" ><a href="javascript:select_asset('<%=asset[:type]%>', '<%=asset[:entity]%>', <%=asset[:balance]%>, <%=asset[:income]%>, <%=asset[:outgoing]%>)"><%= asset[:entity] %></a></li>
    <% end %>
  </ul>
</div>
<div class="row">
<div class="col-xs-6">
<div class="panel panel-default">
  <div class="panel-heading">Type</div>
  <div class="panel-body" id="type"></div>
</div>
</div>
<div class="col-xs-6">
<div class="panel panel-default">
  <div class="panel-heading">Entity</div>
  <div class="panel-body" id="entity"></div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-4">
<div class="panel panel-default">
  <div class="panel-heading">Balance</div>
  <div class="panel-body" id="balance"></div>
</div>
</div>
<div class="col-xs-4">
<div class="panel panel-default">
  <div class="panel-heading">Income</div>
  <div class="panel-body" id="income"></div>
</div>
</div>
<div class="col-xs-4">
<div class="panel panel-default">
  <div class="panel-heading">Outgoing</div>
  <div class="panel-body" id="outgoing"></div>
</div>
</div>
</div>
<div id="movings">
  <% @assets.each do |asset| %>
    <div class="" id="movings-<%=asset[:type]%>" style="visibility: hidden;">
      <h2>Movings</h2>
      <table class="table table-striped">
        <thead><tr><th>Amount</th><th>Transaction</th><th>Time</th></tr></thead>
        <tbody>
          <% asset[:movings].each do |tx| %>
            <tr><th><%=number_with_precision(tx.amount, precision: 6) %></th><th><%=link_to tx.txid, "/transaction/" + tx.txid %></th><th><%=Time.at(tx.time).to_s%></th></tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>

