<h2>Assets</h2>
      <table class="table table-striped">
        <thead><tr><th>Entity</th><th>Description</th><th>Emission</th><th>Scale</th><th>Supply</th><th>Total</th><th>Type</th><th>Emission</th></tr></thead>
        <tbody>
          <% @assets.each do |a| %>
            <tr><th><%=a[0]%></th><th><%=a[1]%></th><th><%=a[2]%></th><th><%=a[3]%></th><th><%=a[4]%></th><th><%=a[5]%><th><%=link_to 'type', "/transaction/" + a[6]%></th><th><%=link_to 'emission', "/transaction/" + a[7]%></th></th></tr>
          <% end %>
        </tbody>
      </table>

